// ----------------------------------------------------------------------------
// Widget-change-page styles
// ----------------------------------------------------------------------------
.widget-changepage {

  background-color: #444 !important;
  .filler {
    font-size: 350%;
    vertical-align: middle;
    horizontal-align: middle;
  }
  .title {
    color: rgba(255, 255, 255, 0.7);
  }
}
