.widget-player {

  .song_big {
        color: #00aaff;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 14px;
    font-size: 350%;
  }

  .song_medium {
        color: #00aaff;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 14px;
    font-size: 275%;
  }

  .song_small {
        color: #00aaff;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 14px;
    font-size: 220%;
  }

  .artist_big {
    margin-top: 5px;
    font-size: 250%;
  }

  .artist_medium {
    margin-bottom: 5px;
    font-size: 175%;
  }

  .artist_small {
    margin-bottom: 5px;
    font-size: 130%;
  }
}

