<% content_for :title do %>Lights Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Ohweather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="BR1_desk1" data-view="Ohswitch" data-title="Left Desk" data-device="BR1_desk1"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="BR1_desk2" data-view="Ohswitch" data-title="Right Desk" data-device="BR1_desk2"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="BR1_desk3" data-view="Ohswitch" data-title="TV Light" data-device="BR1_desk3"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="BR1_desk4" data-view="Ohswitch" data-title="LED Lights" data-device="BR1_desk4"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="BR1_wall1" data-view="Ohswitch" data-title="Wall Light" data-device="BR1_wall1"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="BR1_bed1" data-view="Ohswitch" data-title="Bed Light" data-device="BR1_bed1"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="1" data-view="Number" data-title="1" style="font-size: 42px;"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="2" data-view="Number" data-title="2" style="font-size: 42px;"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="3" data-view="Number" data-title="3" style="font-size: 42px;"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="4" data-view="Number" data-title="4" style="font-size: 42px;"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="5" data-view="Number" data-title="5" style="font-size: 42px;"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="6" data-view="Number" data-title="6" style="font-size: 42px;"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="7" data-view="Number" data-title="7" style="font-size: 42px;"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="8" data-view="Number" data-title="8" style="font-size: 42px;"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="9" data-view="Number" data-title="9" style="font-size: 42px;"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="0" data-view="Number" data-title="0" style="font-size: 42px;"></div>
    </li>
    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="send" data-view="Number" data-title="Enter" style="font-size: 26px; font-weight: bold; background-color: #6ea868;"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="reset" data-view="Number" data-title="Clear" style="font-size: 26px; font-weight: bolder; background-color: #cece00;"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="BR1_nightMode" data-view="Ohswitch" data-title="Night Mode" data-device="BR1_nightMode"></div>
    </li>

    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="Changepage" data-icon="arrow-right" data-title="Room Lighting" data-page="2" data-stagger="false" data-fasttransition="true" style="background-color:#085C61"></div>
    </li>
  </ul>
</div>

